<div class="launchpad">
  <div class="launchpad__item" *ngFor="let app of apps">
    <img [src]="'assets/images/' + app + '.png'" [width]="100" [alt]="app" />
    <span>{{ app }}</span>
  </div>
</div>