<span class="p-float-label p-input-filled">
    <input id="in_title" type="text" [(ngModel)]="title" pInputText> 
    <label for="in_title">Title</label>
</span>
<br />
<button pButton type="button" label="PrimeNG" (click)="upper()"></button>
<p>{{title}}</p>