<template>
  <div class="container mt-5 py-4 px-4">
    <div class="border-bottom">
      <h1 class="text-center">Chat</h1>
    </div>
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
      <div class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <input class="fs-5 fw-semibold" placeholder="Write your username" v-model="username" />
      </div>
      <div id="divMessages" class="list-group list-group-flush border-bottom scrollarea">
        <div class="list-group-item list-group-item-action py-3 lh-tight"
          v-for="(msg, i) in messages" :key="i" :class="[i == (messages.length-1) ? 'bg-dark text-white': '']"
        >
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">{{ msg.username }}</strong>
            <small>{{ msg.date }}</small>
          </div>
          <div class="col-10 mb-1 small">{{ msg.message }}</div>
        </div>
      </div>
    </div>
    <form @submit.prevent="submit">
      <div class="input-group mt-3">
        <input type="text" class="form-control" placeholder="Write a message and press ENTER..." v-model="message" />
        <button type="submit" class="btn btn-dark">Send</button>
      </div>
    </form>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue'
import Pusher from 'pusher-js'
import moment from 'moment'

export default {
  name: 'App',
  updated() {
    this.$nextTick(() => this.scrollToEnd())
  },
  methods: {
    scrollToEnd: function() {
      //Scroll to the start of the last message
      const container = this.$el.querySelector("#divMessages")
      if(container.lastElementChild != null){
        container.scrollTop = container.lastElementChild.offsetTop
      }
    }
  },
  setup() {
    const username = ref('')
    const messages = ref([])
    const message = ref('')

    onMounted(() => {
      //Enable pusher logging - don't include this in production
      //Pusher.logToConsole = true

      const pusher = new Pusher('65b72c0a21d59b46c97e', {
        cluster: 'us2'
      })

      const channel = pusher.subscribe('chat')
      channel.bind('message', function(data) {
        messages.value.push(data)
      })
    })

    const submit = async () => {
      if(username.value != '' && message.value != ''){
        await fetch('http://localhost:8000/api/messages', {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({
            username: username.value,
            message: message.value,
            date: moment().format('MMMM Do YYYY, h:mm:ss a')
          })
        })

        message.value = ''
      }
    }

    return {
      username,
      messages,
      message,
      submit
    }
  }
}
</script>

<style>
body {
  background-color: lightblue;
}
.container {
  background-color: #FFFFFF;
  border: 3px solid #0D6EFD;
  border-radius: 24px;
}
.scrollarea {
  height: 350px;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}
</style>