<template>
    <Transition name="modal">
        <div v-if="show" class="modal-mask">
            <div class="modal-wrapper" @click="closeModal();">
                <div class="modal-container" @click.stop="">
                    <div class="modal-header">
                        <slot name="header"><h2>{{ character.name }}</h2></slot>
                    </div>
                    <div class="modal-body">
                        <slot name="body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="rounded-circle" :src="character.image" :alt="character.name" :title="character.name" />    
                                </div>
                                <div class="col-md-8">
                                    <div class="row row-info">
                                        <div class="col-md-2"><span class="info">Status:</span></div>
                                        <div class="col-md-10"><span class="badge" :class="character.status == 'Alive' ? 'badge-alive' : (character.status == 'Dead' ? 'badge-dead' : 'badge-unknown')">{{ character.status }}</span></div>
                                    </div>
                                    <div class="row row-info">
                                        <div class="col-md-2"><span class="info">Species:</span></div>
                                        <div class="col-md-10">{{ character.species }}</div>
                                    </div>
                                    <div class="row row-info">
                                        <div class="col-md-2"><span class="info">Gender:</span></div>
                                        <div class="col-md-10">{{ character.gender }}</div>
                                    </div>
                                    <div class="row row-info">
                                        <div class="col-md-2"><span class="info">Origin:</span></div>
                                        <div class="col-md-10">{{ character.origin.name }}</div>
                                    </div>
                                    <div class="row row-info">
                                        <div class="col-md-2"><span class="info">Location:</span></div>
                                        <div class="col-md-10">{{ character.location.name }}</div>
                                    </div>
                                    <div class="row row-info">
                                        <div class="col-md-2"><span class="info">Episodes:</span></div>
                                        <div class="col-md-10"><span class="badge badge-episode" v-for="episode in episodes" :key="episode.id">{{ episode.episode }} - {{ episode.name }}</span></div>
                                    </div>
                                </div>
                            </div>
                        </slot>
                    </div>
                    <div class="modal-footer">
                        <slot name="footer">
                            <div class="btn-close-modal" @click="closeModal();">Close</div>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </Transition>
</template>

<script>
import { computed } from 'vue';
import { useStore } from 'vuex';

export default {
    props: {
        show: Boolean,
        closeModal: Function
    },
    setup() {
        const store = useStore();
        const character = computed(() => {
            return store.state.currentCharacter;
        });
        const episodes = computed(() => {
            return store.state.currentCharacterEpisodes;
        });

        return {
            character,
            episodes
        }
    },
    updated() {
        document.title = `Rick & Morty ${(this.show) ? `- ${this.character.name}` : ``}`;
    }
}
</script>

<style lang="scss">
.btn-close-modal {
    padding: 0.5rem 2rem;
    background-color: var(--background-orange);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    color: var(--text-dark-gray);
    &:hover {
        color: var(--text-white);
    }
}
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: table;
    transition: opacity 0.6s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
    width: 70%;
    margin: 0px auto;
    padding: 10px 10px 5px 10px;
    background-color: var(--background-card);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    border-radius: 20px;
}
.modal-header,
.modal-footer {
    border: none !important;
}
.modal-body {
  margin: 0;
}
.modal-default-button {
  float: right;
}
.modal-enter-from {
  opacity: 0;
}
.modal-leave-to {
  opacity: 0;
}
.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.modal-header h2, 
.modal-header h3,
.modal-header h4 {
    color: var(--text-orange);
    font-weight: bold;
}
.info {
    flex: 0 0 auto;
    width: 40px;
    font-weight: bold;
}
.row-info {
    margin-bottom: 2px;
}
.badge-episode {
    color: var(--text-dark-gray) !important;
    background-color: var(--background-orange);
}
.badge-alive {
    background-color: green;
    font-size: 90% !important;
}
.badge-dead {
    background-color: red;
    font-size: 90% !important;
}
.badge-unknown {
    background-color: black;
    font-size: 90% !important;
}
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    margin-right: 4px;
}
</style>