<template>
  <div class="filter">
      <div v-for="button in buttons" :key="button.id" :class="[index == button.id ? 'active' : 'item']" @click="filter(button.id)">
          {{ button.text }}
      </div>
  </div>
</template>

<script>
import { ref } from 'vue';
import { useStore } from 'vuex';

export default {
    setup(){
        const index = ref(1);
        const store = useStore();
        const buttons = [
            { id: 1, text: 'All', filter: '' },
            { id: 2, text: 'Alive', filter: 'Alive' },
            { id: 3, text: 'Dead', filter: 'Dead' },
            { id: 4, text: 'Unknown', filter: 'unknown' },
        ];

        const filter = ((id) => {
            const button = buttons.find((button) => { return button.id === id });
            const status = button.filter;
            index.value = id;
            store.dispatch('setStatus', status);
        });

        return {
            index,
            buttons,
            filter
        }
    }
}
</script>

<style lang="scss">
.filter {
    width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 10px;
    overflow: hidden;
    .item {
        padding: 1rem 0.5rem;
        background-color: var(--background-card);
        text-align: center;
        cursor: pointer;
        &:hover {
            color: var(--text-orange);
        }
    }
    .active {
        padding: 1rem 0.5rem;
        background-color: var(--background-orange);
        text-align: center;
        cursor: pointer;
        color: var(--text-dark-gray);
        &:hover {
            color: var(--text-white);
        }
    }
}
</style>