<template>
    <section>
        <Teleport to="body">
            <character-detail :show="showModal" :closeModal="closeModal"></character-detail>
        </Teleport>

        <div class="characters">
            <div class="characters__item" v-for="character in characters" :key="character.id">
                <card-character :character="character" :openModal="openModal"></card-character>
            </div>
        </div>
        <div class="no-results" v-if="characters.length === 0">
            <div class="alert alert-secondary">No results.</div>
        </div>
    </section>
</template>

<script>
import { computed, onMounted, onBeforeMount, ref, getCurrentInstance } from 'vue';
import { useStore } from 'vuex';

import CardCharacter from '@/components/CardCharacter';
import CharacterDetail from '@/components/CharacterDetail';

export default {
    components: {
        CardCharacter,
        CharacterDetail
    },
    watch: {
        title: {
            immediate: true,
            handler() {
                document.title = `Rick & Morty`;
            }
        }
    },
    setup() {
        const internalInstance = getCurrentInstance();
        const showModal = ref(false);
        const store = useStore();
        const characters = computed(() => {
            return store.state.charactersFilter;
        });

        onBeforeMount(() => {
            internalInstance.appContext.config.globalProperties.$Progress.finish();
        });

        onMounted(() => {
            internalInstance.appContext.config.globalProperties.$Progress.start();
            store.dispatch('getCharacters');
            internalInstance.appContext.config.globalProperties.$Progress.set(75);
        });

        const openModal = (async (id) => {
            internalInstance.appContext.config.globalProperties.$Progress.start();

            await store.dispatch('setCurrentCharacter', id).then((response) => {
                showModal.value = true;
                internalInstance.appContext.config.globalProperties.$Progress.finish();
            }, (response) => {
                internalInstance.appContext.config.globalProperties.$Progress.fail();
            });
        });

        const closeModal = (() => {
            showModal.value = false;
        });

        return {
            characters,
            showModal,
            openModal,
            closeModal
        }
    }
}
</script>

<style lang="scss">
.no-results {
    width: 90%;
    margin: -3rem auto 3rem auto;
}
.characters {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    margin: 3rem 0;
}
</style>