<template>
  <section>
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item" v-if="index > 1">
                    <a class="item first" @click="changePage(index - 1);">&lt; Previous</a>
                </li>
                <li v-for="pg in pages" :key="pg" class="page-item">
                    <a :class="[index == pg ? 'active' : 'item']" @click="changePage(pg);">{{ pg }}</a>
                </li>
                <li class="page-item" v-if="index < pages">
                    <a class="item last" @click="changePage(index + 1);">Next &gt;</a>
                </li>
            </ul>
        </nav>
    </section>
</template>

<script>
import { computed } from 'vue';
import { useStore } from 'vuex';

export default {
    setup() {
        const store = useStore();
        const index = computed(() => {
            return store.state.currentPage;
        });
        const pages = computed(() => {
            return store.state.pages;
        });

        const changePage = ((page) => {
            setTimeout(() => {
                window.scrollTo(0, 0);
            }, 250);
            store.dispatch('getCharacters', page);
        });

        return {
            index,
            pages,
            changePage
        }
    }
}
</script>

<style lang="scss">
.pagination {
    a {
        text-decoration: none;
        color: var(--text-white);
    }
    .first {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .last {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .item {
        padding: 1rem 0.5rem;
        background-color: var(--background-card);
        text-align: center;
        cursor: pointer;
        &:hover {
            color: var(--text-orange);
        }
    }
    .active {
        padding: 1rem 0.5rem;
        background-color: var(--background-orange);
        text-align: center;
        cursor: pointer;
        color: var(--text-dark-gray);
        &:hover {
            color: var(--text-white);
        }
    }
}
</style>