<template>
  <Car :power="power" :upPower="upPower" @downPower="downPower" />
</template>

<script>
import { ref } from 'vue'
import Car from './components/Car'

export default {
  components: {
    Car
  },
  setup() {
    const power = ref(30);

    const upPower = (() => {
      power.value += 10;
    });

    const downPower = (() => {
      power.value -= 10;
    });

    return {
      power,
      upPower,
      downPower
    }
  }
}
</script>

<style>

</style>