<template>
  <div class="navbar-container">
    <div class="navbar-content">
      <router-link to="/">
        <i class='bx bx-home bx-md'></i>
      </router-link>
      <router-link to="/cesta">
        <i class='bx bx-shopping-bag bx-md'></i>
      </router-link>
      <router-link to="/favoritos">
        <i class='bx bx-heart bx-md'></i>
      </router-link>
      <router-link to="/historial">
        <i class='bx bx-history bx-md'></i>
      </router-link>
    </div>
  </div>
  <router-view />
</template>

<style lang="less">
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
  margin: 0px;
  padding: 0px;
}
.navbar-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  .navbar-content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    a{
      color: rgba(163, 163, 163);
      &.router-link-exact-active {
        color: rgba(255, 131, 62);
      }
    }
  }
}
#app {
  font-family: 'Josefin Sans', sans-serif;
}
</style>
