<app-cabecero [ingresoTotal]="getIngresoTotal()" [egresoTotal]="getEgresoTotal()" [presupuestoTotal]="getPresupuestoTotal()" [porcentajeTotal]="getPorcentajeTotal()"></app-cabecero>
<app-formulario></app-formulario>
<div class="contenedor limpiarEstilos">
    <app-ingreso></app-ingreso>
    <app-egreso [ingresoTotal]="getIngresoTotal()"></app-egreso>
</div>
