.header {
  padding-bottom: var(--size-8);
  border-bottom: 8px solid var(--color-primary-100);
  margin: var(--size-4) 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header h1 {
  font-size: var(--size-8);
  color: var(--color-primary-500);
  margin: 0;
  line-height: initial;
  text-align: center;
}

.header img {
  object-fit: cover;
  width: 200px;
  height: 120px;
}

@media (min-width: 768px) {
  .header {
    margin: var(--size-5) 0;
    flex-direction: row;
    align-items: flex-end;
  }

  .header h1 {
    font-size: var(--size-16);
    text-align: left;
  }
}
