@import url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    --webkit-user-select: none;
}

body {
    font-family: 'Yantramanav', sans-serif;
}

.text-red {
    color: var(--mac-red);
}

.text-gold {
    color: var(--mac-gold);
}

.text-green {
    color: var(--mac-green);
}