:root {
    --mac-sky-blue: #71C5E8;
    --mac-green: #00CA4E;
    --mac-red: #FF605C;
    --mac-gold: #FFBD44;
    --mac-plum: #8A1B61;
    --mac-blue: #009CDF;
    --mac-grey: #DDDDDD;
    --mac-grey-dark: #999999;
    --light-0: #FFFFFF;
    --light-1: rgb(223, 255, 235);
    --dark-0: #000000;
    --dark-1: rgb(32, 32, 32);
    --purple-0: rgb(238, 201, 236);
    --purple-1: #5A0A56;
    --purple-2: rgb(95 1 109 / 50%);
    --grey-0: #E5E1ED;
    --grey-1: #A5A5A5;
    --grey-2: rgb(229, 226, 239);
    --grey-3: rgb(223, 225, 235);
    --grey-4: #CDCCCC;
    --grey-5: #DDDDDD;
}