<div class="flex align-items-center justify-content-between p-1">
  <div class="flex align-items-center justify-content-center">
    <img src="assets/images/music.png" alt="music" class="mr-1" width="22">
    <span>Music</span>
  </div>

  <div class="flex-align-items-center justify-conten-center">
    <i class="pi pi-play mr-1"></i>
    <i class="pi pi-fast-forward"></i>
  </div>
</div>