<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a routerLink="/" class="navbar-brand">Control Clientes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto flex-nowrap">
                <li *ngIf="isLoggedIn" class="nav-item">
                    <a routerLink="/" class="nav-link">Inicio</a>
                </li>
                <li *ngIf="isLoggedIn" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-check"></i> Bienvenido {{ loggedInUser }}</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li>
                            <a routerLink="/configuracion" class="dropdown-item"><i class="fas fa-cog"></i> Configuración</a>
                        </li>
                    </ul>
                </li>
                <li *ngIf="!isLoggedIn" class="nav-item">
                    <a routerLink="/login" class="nav-link" routerLinkActive="router-link-active"><i class="fas fa-user"></i> Login</a>
                </li>
                <li *ngIf="!isLoggedIn && permitirRegistro" class="nav-item">
                    <a routerLink="/registrarse" class="nav-link" routerLinkActive="router-link-active"><i class="fas fa-user-edit"></i> Registro</a>
                </li>
                <li *ngIf="isLoggedIn" class="nav-item">
                    <a (click)="logout()" class="nav-link cursor-pointer"><i class="fas fa-user-times"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>