<div class="machine-controls">
  <div class="machine-controls__item">
    <i class="pi pi-power-off"></i>
    <span>Shut Down</span>
  </div>

  <div class="machine-controls__item">
    <i class="pi pi-chevron-circle-left"></i>
    <span>Restart</span>
  </div>
  
  <div class="machine-controls__item">
    <i class="pi pi-chevron-circle-down"></i>
    <span>Sleep</span>
  </div>
</div>