<template>
    <div>
        <h3>Your question is:</h3>
        <div class="viewer">{{ question }}</div>
        <div class=" animate__animated animate__bounceIn animate__delay-1s">
            <hr />
            <button class="btn" @click="handleNext()">Decide it</button>
            <button class="btn" @click="handlePrev()">Ask a new question</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['question'],
        methods: {
            handleNext() {
                this.$emit('goto', 2, this.question);
            },
            handlePrev() {
                this.$emit('goto', 0, '');
            }
        }
    }
</script>

<style>
</style>