<template>
    <div>
        <h1>Ask a Question</h1>
        <div class="mb-3">
            <input type="text" name="question" class="form-control" id="question" v-model="question" />
            <button class="btn animate__animated animate__fadeIn" v-if="question" @click="handleNext()">Next</button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                question: ''
            }
        },
        methods: {
            handleNext() {
                if(this.question.length < 5){
                    const values = {
                        message: "Your question is too short",
                        type: "error"
                    };
                    this.$emit('handleToast', values)
                } else if (this.question.length >= 50) {
                    const values = {
                        message: "Your question is too long",
                        type: "error"
                    };
                    this.$emit('handleToast', values)
                } else {
                    this.$emit('goto', 1, this.question);
                }
            }
        }
    }
</script>

<style>
</style>