<template>
    <Transition name="modal">
        <div v-if="show" class="modal-mask">
            <div class="modal-wrapper" @click="closeModal();">
                <div class="modal-container" @click.stop="">
                    <div class="modal-header">
                        <slot name="header"><h2>{{ title }} Note</h2></slot>
                    </div>
                    <div class="modal-body">
                      <form @submit.prevent="submitForm">
                        <div class="alert alert-danger" v-if="showError">
                          Please fix the following errors:<br />
                          <ul>
                            <li v-for="(err, i) in errorMessages" :key="i">{{ err }}</li>
                          </ul>
                        </div>
                        <div class="form-group row" v-if="!isNew">
                          <label for="title" class="col-sm-2 col-form-label">Id</label>
                          <div class="col-sm-10">
                            {{ note.id }}
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="titleNote" class="col-sm-2 col-form-label">Title</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="titleNote" placeholder="Enter a Title..." v-model="noteData.title" :disabled="!edit" />
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="textNote" class="col-sm-2 col-form-label">Note</label>
                          <div class="col-sm-10">
                            <textarea class="form-control" id="textNote" placeholder="Enter a Note..." v-model="noteData.note" :disabled="!edit"></textarea>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="completedNote" class="col-sm-2 col-form-label">Completed</label>
                          <div class="col-sm-10">
                            <select class="form-control" id="completedNote" v-model="noteData.completed" :disabled="!edit">
                              <option v-for="option in options" :key="option.id" :value="option.id">{{ option.value }}</option>
                            </select>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                        <slot name="footer">
                            <button type="submit" class="btn btn-primary" v-if="edit" @click="submitForm()">Submit</button>
                            <div class="btn btn-danger" @click="closeModal();">Close</div>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </Transition>
</template>

<script>
import { ref } from 'vue'

export default {
  props: {
    show: Boolean,
    closeModal: Function,
    note: Object,
    edit: Boolean,
    title: String,
    isNew: Boolean
  },
  data() {
    const showError = ref(false)
    const errorMessages = ref([])
    const noteData = {}

    const options = [
      { id: null, value: "Select a choice..."},
      { id: true, value: "True" },
      { id: false, value: "False" },
    ]

    return {
      showError,
      errorMessages,
      options,
      noteData
    }
  },
  updated() {
    this.showError = false

    if(!this.isNew){
      this.noteData = this.note
    } else {
      this.noteData = {
        id: 0,
        title: "",
        note: "",
        completed: null
      }
    }
  },
  methods: {
    submitForm() {
      this.errorMessages = [];
      
      const validTitle = this.validateField('Title', this.noteData.title)
      const validNote = this.validateField('Note', this.noteData.note)
      const validCompleted = this.validateField('Completed', this.noteData.completed)
      
      if(validTitle && validNote && validCompleted){
        this.showError = false
        this.$emit('saveNote', this.noteData)
      } else {
        this.showError = true
      }
    },
    validateField(field, value){
      if(value === "" || value == null){
        this.errorMessages.push(field + ' is required')
        return false
      }

      return true
    }
  }
}
</script>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: table;
  transition: opacity 0.6s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
  width: 50%;
  margin: 0px auto;
  padding: 10px 10px 5px 10px;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  border-radius: 20px;
  background-color: #FFFFFF;
}
.modal-header,
.modal-footer {
  border: none !important;
}
.modal-body {
  margin: 0;
}
.modal-default-button {
  float: right;
}
.modal-enter-from {
  opacity: 0;
}
.modal-leave-to {
  opacity: 0;
}
.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.modal-header h2, 
.modal-header h3,
.modal-header h4 {
  color: var(--text-orange);
  font-weight: bold;
}
</style>