<template>
    <section>
        <Teleport to="body">
            <app-form :show="showModal" :closeModal="closeModal" :note="note" :edit="edit" :title="title" :isNew="isNew" @saveNote="saveNote"></app-form>
        </Teleport>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Notes App</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="create btn btn-success" @click="openModal()"><font-awesome-icon icon="plus"></font-awesome-icon> Create Note</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Note</th>
                                    <th scope="col">Date Created</th>
                                    <th scope="col">Date Updated</th>
                                    <th scope="col">Completed</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="note in notes" :key="note.id">
                                    <td>{{ note.id }}</td>
                                    <td>{{ note.title }}</td>
                                    <td><div class="description" v-html="filters.replace(note.note, '\n', '<br />')"></div></td>
                                    <td>{{ note.dateCreated }}</td>
                                    <td>{{ note.dateUpdated }}</td>
                                    <td>{{ filters.capitalize(note.completed) }}</td>
                                    <td>
                                        <div class="options text-secondary" @click="readNote(note.id, false)" title="Read Note"><font-awesome-icon icon="eye" /></div>
                                        <div class="options text-primary" @click="readNote(note.id, true)" title="Update Note"><font-awesome-icon icon="pencil" /></div>
                                        <div class="options text-danger" @click="deleteNote(note.id)" title="Delete Note"><font-awesome-icon icon="trash" /></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import { onMounted, onBeforeMount, ref, getCurrentInstance } from 'vue'
import axios from 'axios'
import appForm from '@/components/form.vue'

export default {
    components: {
        appForm
    },
    setup() {
        const internalInstance = getCurrentInstance()
        const global = internalInstance.appContext.config.globalProperties
        const notes = ref([])
        const showModal = ref(false)
        const note = ref({})
        const title = ref('Create')
        const edit = ref(false)
        const isNew = ref(true)

        onBeforeMount(() => {
            global.$Progress.finish()
        })

        onMounted(() => {
            global.$Progress.start()
            getNotes()
        })
        
        //Obtener las notas
        const getNotes = (async () => {
            await axios.get(global.servidorBackend + '/allnotes').then(res => {
                global.$Progress.set(75)
                notes.value = res.data
            }).catch(err => {
                global.$Progress.fail()
                console.log(err)
            })
        })

        //Abrir modal (para creacion)
        const openModal = (() => {
            note.value = {}
            title.value = 'Create'
            edit.value = true
            showModal.value = true
            isNew.value = true
        })

        //Cerrar modal
        const closeModal = (() => {
            showModal.value = false
        })

        //Leer nota y abrir modal (para ver o actualizar)
        const readNote = (async (id, ed) => {
            global.$Progress.start()
            title.value = ed ? 'Update' : 'Read'
            edit.value = ed

            await axios.get(global.servidorBackend + '/note/' + id).then(res => {
                global.$Progress.set(75)
                note.value = res.data
                showModal.value = true
                isNew.value = false
                global.$Progress.finish()
            }).catch(err => {
                global.$Progress.fail()
                console.log(err)
            })
        })

        //Borrar nota
        const deleteNote = (async (id) => {
            if(confirm('Do you really want to delete the note?')){
                global.$Progress.start()

                await axios.delete(global.servidorBackend + '/note/' + id).then(() => {
                    global.$Progress.set(75)
                    getNotes()
                    global.$Progress.finish()
                }).catch(err => {
                    global.$Progress.fail()
                    console.log(err)
                })
            }
        })

        //Guardar/actualizar nota
        const saveNote = (async (noteData) => {
            global.$Progress.start()

            const options = {
                method: (noteData.id == 0) ? 'POST' : 'PUT',
                url: (noteData.id == 0) ? global.servidorBackend + '/note' : global.servidorBackend + '/note/' + noteData.id,
                data: noteData
            }

            await axios(options).then(() => {
                global.$Progress.set(75)
                note.value = {}
                showModal.value = false
                getNotes()
                global.$Progress.finish()
            }).catch(err => {
                global.$Progress.fail()
                console.log(err)
            })
        })

        return {
            notes,
            showModal,
            note,
            title,
            edit,
            isNew,
            getNotes,
            openModal,
            closeModal,
            readNote,
            deleteNote,
            saveNote
        }
    },
}
</script>

<style>
.options {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
.create {
    font-size: 45px;
    float: right;
    margin-bottom: 10px;
}
.description {
    width: 520px;
    max-height: 250px;
    overflow: auto;
    overflow-x: hidden;
}
</style>