<template>
  <div class="container">
    <app-list></app-list>
    <vue-progress-bar></vue-progress-bar>
  </div>
</template>

<script>
import appList from '@/components/list.vue'

export default {
  name: 'App',
  components: {
    appList
  },
  created () {
    document.title = 'Notes App with VueJS and Golang'
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
</style>
