
<div class="box">
  <form class="item" #f="ngForm" (ngSubmit)="f.form.valid && guardarPersona()">
    <input type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="nombreInput" required />
    <input type="text" name="apellido" id="apellido" placeholder="Apellido" [(ngModel)]="apellidoInput" required />
    <button type="submit">+</button>
    <button type="submit" class="buttonRed" *ngIf="indice != null" (click)="eliminarPersona()">-</button>
  </form>
</div>
