html {
  background-color: #2196F3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('./assets/bg-pattern.png'), #2196F3;
  background: url('./assets/bg-pattern.png'), -webkit-gradient(linear, right top, left top, from(#2196F3), to(#009688));
  background: url('./assets/bg-pattern.png'), linear-gradient(to left, #2196F3, #009688);
}
h1 {
  color: #FFFFFF;
  padding: 10px;
}
.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
#heading {
  background-color: #3F51B5;
  text-align: center;
}
.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}
.item:last-child {
  border-bottom: 0;
}
input[type="checkbox"] {
  margin: 20px;
}
p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204A;
}
form {
  text-align: center;
  margin-left: 20px;
}
button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #3F51B5;
  color: #FFFFFF;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  cursor: pointer;
}
.buttonRed {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #BB0000;
  color: #FFFFFF;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  cursor: pointer;
}
input[type="text"], input[type="email"], input[type="password"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 40%;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #3F51B5;
}
::placeholder {
  color: grey;
  opacity: 1;
}
.centrado {
  text-align: center;
}
.buttonLogin {
  display: inline-block;
  text-align: center;
  padding: 7px 12px;
  font-size: 16px;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #3F51B5;
  border-color: transparent;
  text-decoration: none;
}
.buttonLogout {
  display: inline-block;
  text-align: center;
  padding: 7px 12px;
  font-size: 16px;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #BB0000;
  border-color: transparent;
  text-decoration: none;
}