<template>
  <div class="card">
    <div class="card-title">
      {{ product.name }}
    </div>
    <div class="card-body">
      <i class="icofont-10x" :class="['icofont-' + product.icon]"></i>
      <form>
        <div class="row">
          <div class="cell">
            <label>Type:</label>
          </div>
          <div class="cell">
            <em>{{ product.type }}</em>
          </div>
        </div>
        <div class="row">
          <div class="cell">
            <label>Price:</label>
          </div>
          <div class="cell">{{ getProductValue(product) }}</div>
        </div>
        <div class="row">
          <div class="cell">
            <label>Quantity:</label>
          </div>
          <div class="cell">
            <input type="number" v-model.number="quantityProd" min="0" />
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button @click="addToCart(product._id)" class="btn btn-light pointer" :disabled="quantityProd == 0">
        Add to cart
      </button>
    </div>
  </div>
</template>

<script>
import { useStore } from 'vuex'
import { ref, computed } from '@vue/runtime-core'

export default {
  props: ['product'],
  setup () {
    const quantityProd = ref(0)
    const store = useStore()
    const addToCart = (id) => {
      const quantity = quantityProd.value
      store.dispatch('addProductToCart', { id, quantity })
      quantityProd.value = 0
    }
    const getProductValue = computed((product) => store.getters.getProductValue)

    return {
      addToCart,
      quantityProd,
      getProductValue
    }
  }
}
</script>

<style>
</style>
