<template>
  <aside class="cart-container">
    <div class="cart">
      <h1 class="cart-title spread">
        <span>
          Cart
          <i class="icofont-cart-alt icofont-1x"></i>
        </span>
        <button @click="toggle" class="cart-close">&times;</button>
      </h1>
      <div class="cart-body">
        <table class="cart-table">
          <thead>
            <tr>
              <th><span class="sr-only">Product Image</span></th>
              <th>Product</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Total</th>
              <th><span class="sr-only">Actions</span></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(quantity, key) in cart" :key="key">
              <td><i class="icofont-3x" :class="['icofont-' + getAttribute(key, 'icon') ]"></i></td>
              <td>{{ getAttribute(key, 'name') }}</td>
              <td>{{ getPrice(key) }}</td>
              <td class="center">{{ quantity }}</td>
              <td>{{ getSubtotal(key, quantity) }}</td>
              <td class="center">
                <button @click="removeItem(key)" class="btn btn-light cart-remove pointer">&times;</button>
              </td>
            </tr>
          </tbody>
        </table>
        <p class="center" v-if="!Object.keys(cart).length">
          <em>No items in cart</em>
        </p>
        <div class="spread">
          <span><strong>Total:</strong> {{ calculateTotal() }}</span>
          <button class="btn btn-light pointer" @click="purchaseItems()" v-if="calculateTotal(false) > 0">Checkout</button>
        </div>
      </div>
    </div>
  </aside>
</template>

<script>
import { useStore } from 'vuex'
import { computed } from '@vue/runtime-core'

export default {
  props: ['toggle'],
  setup () {
    const store = useStore()
    const cart = computed(() => store.state.cart)
    const getAttribute = computed((id, attr) => store.getters.getAttribute)
    const calculateTotal = computed(() => store.getters.calculateTotal)
    const getProduct = computed(() => store.getters.getProduct)
    const removeItem = (id) => {
      store.dispatch('removeProductFromCart', id)
    }
    const purchaseItems = () => {
      store.dispatch('purchaseOrder')
    }

    return {
      cart,
      getAttribute,
      calculateTotal,
      getProduct,
      removeItem,
      purchaseItems
    }
  },
  methods: {
    getPrice (id) {
      const product = this.$store.getters.getProduct(id)
      const price = this.$store.getters.getProductValue(product)
      return price
    },
    getSubtotal (id, quantity) {
      const product = this.$store.getters.getProduct(id)
      const price = this.$store.getters.getProductValue(product, false)
      return this.$store.state.currency + ' ' + (price * quantity).toFixed(2)
    }
  }
}
</script>

<style>
</style>
