<div *ngIf="!estaAutenticado()" class="centrado">
  <a class="buttonLogin" routerLink="/login">Ingresar</a>
</div>
<div *ngIf="estaAutenticado()" class="centrado">
  <a class="buttonLogout" (click)="salir()">Salir</a>
</div>
<div class="box" id="heading">
  <h1>{{ titulo }}</h1>
</div>
<router-outlet></router-outlet>