<!DOCTYPE html>
<html lang="en">

<div id="app">
    <div :style="{color: 'red', fontSize: fontSize + 'px'}">{{ message }}</div>

    <div :style="styleObject">{{ message }}</div>

    <div :style="[styleObject, styleObject2]">{{ message }}</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let vm = new Vue({
        el: '#app',
        data: {
            message: 'Hello, how are you?',
            fontSize: 30,
            styleObject: {
                color: 'blue',
                fontSize: '36pt',
                border: '1px dotted black',
                textDecoration: 'underline'
            },
            styleObject2: {
                color: 'yellow',
                fontSize: '72pt'
            }
        }
    });
</script>