<!DOCTYPE html>
<html lang="en">

<style>
    .active {
        color: green;
    }
    .notActive {
        color: red;
    }
</style>

<div id="app">
    <h1 class="static" :class="{active: isActive, notActive: hasError}">{{ name }}</h1>

    <h1 :class="[isActive ? 'active' : 'notActive']">{{ name }}</h1>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let vm = new Vue({
        el: '#app',
        data: {
            isActive: true,
            hasError: true,
            name: 'Lionel',
        }
    });
</script>