<!DOCTYPE html>
<html lang="en">

<div id="app">
    <h1>{{ reverseMessage }}</h1>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let vm = new Vue({
        el: '#app',
        data: {
            message: 'Hi, how are you?'
        },
        computed: {
            reverseMessage(){
                return this.message.split('').reverse('').join('');
            }
        }
    });
</script>