<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">

<div id="app">
    <h1 v-if="isActive">{{ name }}</h1>
    <h1 v-else-if="name === 'Manuel'">Admin</h1>
    <h1 v-else>Guest!</h1>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let vm = new Vue({
        el: '#app',
        data: {
            isActive: true,
            name: 'Son Gokū'
        }
    });
</script>