<!DOCTYPE html>
<html lang="en">

<div id="app">
    <a :href="url" target="_blank">{{ url }}</a>

    <h1>{{number}}</h1>
    <h1 v-on:click="number++">Increase</h1>
    <h1 v-on:click="number--">Decrease</h1>

    <form action="" @submit.prevent="number++">
        <button type="submit">SUBMIT</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let vm = new Vue({
        el: '#app',
        data: {
            message: 'Hello, how are you?',
            url: 'https://www.google.com.co',
            number: 10
        }
    });
</script>