<!DOCTYPE html>
<html lang="en">

<div id="app">
    <button @click="increaseFont">Increase Font</button>
    <button @click="decreaseFont">Decrease Font</button>
    <br />
    <div :style="{color: 'red', fontSize: fontSize + 'px'}">{{ message }}</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let vm = new Vue({
        el: '#app',
        data: {
            message: 'Hello, how are you?',
            fontSize: 30
        },
        methods: {
            increaseFont(){
                console.log('Flag increase');
                this.fontSize++;
            },
            decreaseFont(){
                console.log('Flag decrease');
                this.fontSize--;
            }
        }
    });
</script>