<!DOCTYPE html>
<html lang="en">

<div id="app">
    <h1>{{ message }}</h1>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let vm = new Vue({
        el: '#app',
        data: {
            message: 'Hello, how are you?'
        }
    });
</script>