<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">

<div id="app">
    <ul>
        <li v-for="post in posts" :key="post.id">{{post.title}} : {{post.body}}</li>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let vm = new Vue({
        el: '#app',
        data: {
            posts: [
                {
                    id: 1,
                    title: 'Post 1',
                    body: 'Qwerty'
                },
                {
                    id: 2,
                    title: 'Post 2',
                    body: 'Asdfgh'
                },
                {
                    id: 3,
                    title: 'Post 3',
                    body: 'Zxcvbn'
                },
                {
                    id: 4,
                    title: 'Post 4',
                    body: 'Poiuyt'
                }
            ]
        }
    });
</script>