<!DOCTYPE html>
<html lang="en">

<div id="app">
    <h1>{{ message }}</h1>
    <h1>{{ number + 10 }}</h1>
    <h1>{{ isActive ? 'Is Active' : 'Is NOT Active' }}</h1>
    <h1>{{ message.split('').reverse('').join('') }}</h1>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let vm = new Vue({
        el: '#app',
        data: {
            message: 'Hello, how are you?',
            number: 10,
            isActive: false
        }
    });
</script>