<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
       <div id="app">
           <form action="">
               <div class="col-sm-6">
                    <input v-model="options" type="text" class="form-control">
               </div>

               <fieldset class="form-group">
                   <legend>Radio buttons</legend>
                   <div class="form-check">
                       <label class="form-check-label">
                           <input v-model="options" type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option 1" checked>
                           Option one is this and that&mdash;be sure to include why it's great
                       </label>
                   </div>
                   <div class="form-check">
                       <label class="form-check-label">
                           <input v-model="options" type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option 2">
                           Option two can be something else and selecting it will deselect option one
                       </label>
                   </div>
                   <div class="form-check">
                       <label class="form-check-label">
                           <input v-model="options" type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option 3">
                           Option three is disabled
                       </label>
                   </div>
               </fieldset>
               <p> {{ options.length > 0 ? 'You selected' : '' }} {{options.join(', ')}} </p>
           </form>
       </div>
    </div>
  
 <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
 
 <script>
     let vm = new Vue({
         el: '#app',
         data: {
             options: [],
             message: ''
         }
     })
</script>
</body>
</html>