<!DOCTYPE html>
<html lang="en">

<div id="app">
    <h1>James Bond {{ isActive === 'active' ? 'is Active' : 'is NOT Active' }}</h1>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let vm = new Vue({
        el: '#app',
        data: {
            isActive: 'not active'
        },
        watch: {
            isActive: function(newValue){
                this.isActive = newValue;
                console.log('Sending an email - ' + newValue);
            }
        }
    });
</script>