<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shopping List App</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="shopping-list">
      <div class="header">
        <h1>{{ header || 'Welcome to SLA' }}</h1>
        <button v-if="editing" @click="doEdit(false)" class="btn btn-cancel">
          Cancel
        </button>
        <button v-else @click="doEdit(true)" class="btn btn-cancel">
          Add Item
        </button>
      </div>
      <div class="add-item-form" v-if="editing">
        <input
          v-model="newItem"
          type="text"
          placeholder="Add an Item"
        />
        <p class="counter">{{ characterCount }} / 200</p>
        <label
          ><input type="checkbox" v-model="newItemPriority" /> High
          Priority</label
        >
        <button
          @click="saveItem"
          class="btn btn-primary"
          :disabled="newItem.length === 0"
        >
          Save Item
        </button>
      </div>
      <br />
      <p v-if="items.length === 0">Nice job! You've bought all your items!</p>
      <ul>
        <li
          v-for="item in reversedItems"
          :key="item.id"
          :class="{strikeout: item.purchased, priority: item.highPriority}"
          @click="togglePurchase(item)"
        >
          {{ item.id }} - {{ item.label }}
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
      const shoppingListApp = Vue.createApp({
        data() {
          return {
            header: "Shopping List App",
            editing: false,
            newItem: "",
            newItemPriority: false,
            items: [
              {
                id: 1,
                label: "10 party hats",
                purchased: false,
                highPriority: false,
              },
              {
                id: 2,
                label: "2 board games",
                purchased: true,
                highPriority: false,
              },
              { 
                id: 3, 
                label: "2 beers", 
                purchased: true, 
                highPriority: true 
              },
              { 
                id: 4, 
                label: "1 cup", 
                purchased: false, 
                highPriority: true 
              },
              {
                id: 5,
                label: "1 awesome Vue",
                purchased: false,
                highPriority: false,
              },
            ],
          };
        },
        computed: {
            characterCount() {
                return this.newItem.length;
            },
            reversedItems() {
                return [...this.items].reverse();
            }
        },
        methods: {
          saveItem() {
            this.items.push({ 
                id: this.items.length + 1, 
                label: this.newItem,
                highPriority: this.newItemPriority
            });
            this.newItem = "";
            this.newItemPriority = false;
          },
          doEdit(editing) {
            this.editing = editing;
          },
          togglePurchase(item) {
            item.purchased = !item.purchased;
          }
        },
      }).mount("#shopping-list");
    </script>
  </body>
</html>
