@import 'helpers';

.settings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 10px;
    width: 25rem;
    background-color: var(--grey-2);
    font-size: 0.7rem;
    border: 0;

    > div {
        background-color: var(--grey-3);
        padding: 5px;
        border-radius: 0.5rem;
        box-shadow: 0 0 1px 1px var(--grey-4);
    }

    &__wifi-bluetooth-airdrop-controls {
        @include flex($dir: column, $ai: flex-start, $jc: space-between);

        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    &__focus-control {
        grid-column: 3 / 5;
        grid-row: 1 / 2;
    }

    &__keyboard-brightness-control {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    &__screen-mirroring-control {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }

    &__music-control {
        grid-column: 1 / 5;
        grid-row: 3 / 4;
    }
}