<div class="flex align-items-center justify-content-center">
  <i class="pi pi-wifi text-2xl mr-2"></i>
  <div>
    <div class="text-sm">Wi-Fi</div>
    <span class="text-xs">Not connected</span>
  </div>
</div>