@use '../styles/_variables.scss';

.appGrid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.appHeader {
  background-color: variables.$background-color;
  height: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.appLogo {
  height: 10vmin;
  pointer-events: none;

  @media (prefers-reduced-motion: no-preference) {
    animation: appLogoSpin infinite 20s linear;
  }
}

.cartItems {
  font-size: 1rem;
}

@keyframes appLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}