@use '../styles/_variables.scss';

.product {
  background-color: variables.$background-color;
  color: white;
  border: 1px solid #ccc;
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}

.priceContainer {
  text-align: right;
  margin: 0;
  font-size: 1.1rem;
}

.price {
  font-weight: bold;
}

.btnContainer {
  margin-top: 2rem;
}

.btnAddCart {
  background-color: variables.$primary-color;
  color: variables.$text-color-secondary;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btnRemoveCart {
  background-color: variables.$danger-color;
  color: variables.$text-color;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.quantity {
  margin: 0 1rem;
}