@use '../styles/_variables.scss';

h2 {
  text-align: center;
  color: variables.$text-color-secondary;
  font-size: 2.5rem;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}