<div class="container">
    <h1>{{ titulo }}</h1>
    <br />
    <app-formulario [operacionesPermitidas]="operacionesPermitidas" (operacionForm)="realizarOperacion($event)"></app-formulario>
    <br />
    <app-resultado [operacion]="operacion" [resultado]="resultado"></app-resultado>
</div>