.productPreview {
  width: 50%;
  position: relative;
}

.productPreview > img {
  width: 100%;
}

.timeSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -60%);
  color: white;
  font-size: 4vw;
  font-weight: 600;
}

.timeSeparator {
  display: inline-block;
  opacity: 0;
  animation: time 1s infinite;
}

@keyframes time {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.heartBeatSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -60%);
  color: white;
  font-size: 4vw;
  font-weight: 600;
}

.heartBeatSection > i {
  margin-top: 6vw;
  color: red;
  animation: beat 1s infinite;
}

.heartBeatSection > p {
  margin-top: 16px;
}

@keyframes beat {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }
  
  100% {
    transform: scale(1, 1);
  }
}