<form>
    <div class="form-group">
        <label>Número 1:</label>
        <input type="number" class="form-control" name="numero1" [(ngModel)]="numero1" />
    </div>
    <div class="form-group">
        <label>Número 2:</label>
        <input type="number" class="form-control" name="numero2" [(ngModel)]="numero2" />
    </div>
    <br />
    <div class="row">
        <div class="col">
            <span *ngFor="let operacion of operacionesPermitidas">
                <button type="submit" class="btn btn-primary" (click)="operar(operacion.id)">{{ operacion.nombreBoton }}</button> &nbsp;
            </span>
        </div>
    </div>
</form>