<template>
    <div class="col-lg-3 col-md-3 col-sm-4 mb-2">
        <div class="card border-dark">
            <img :src="producto.thumbnailUrl" :alt="`imagen ${producto.title}`" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">{{ producto.title }}</h5>
                <p class="card-text">$ <span>{{ producto.total }}</span></p>
                <div class="text-center">
                    <button class="btn btn-dark" @click="comprar(producto)">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { useStore } from 'vuex'

export default {
    props: ['producto'],
    setup(){
        const store = useStore()
        const comprar = producto => {
            store.dispatch('agregarCarrito', producto)
        }

        return {
            comprar
        }
    }
}
</script>