<template>
    <div class="my-5">
        <h4>Productos en el carro</h4>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col"><div class="text-center">Cantidad</div></th>
                <th scope="col"><div class="text-center">Acción</div></th>
                <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody id="items">
                <Item
                    v-for="item in items" :key="item.id"
                    :item="item"
                />
            </tbody>
            <tfoot>
                <tr id="footer-carrito">
                    <th scope="row" colspan="5" v-if="Object.keys(carrito).length === 0">Carrito vacío - Comience a comprar!</th>
                    <Footer v-else />
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
import { computed } from '@vue/runtime-core'
import { useStore } from 'vuex'
import Item from './Item.vue'
import Footer from './Footer.vue'

export default {
    components: {
        Item,
        Footer
    },
    setup() {
        const store = useStore()
        const items = computed(() => {
            return store.state.carrito
        })
        const carrito = computed(() => {
            return store.state.carrito
        })

        return {
            items,
            carrito
        }
    },
}
</script>