<template>
    <th scope="row" colspan="2">Total productos</th>
    <td><div class="text-center">{{ totalCantidad }}</div></td>
    <td>
        <div class="text-center">
            <button class="btn btn-danger btn-sm" id="vaciar-carrito" @click="vaciar">Vaciar todo</button>
        </div>
    </td>
    <td class="font-weight-bold">$ <span>{{ totalPrecio.toFixed(2) }}</span></td>
</template>

<script>
import { computed } from '@vue/runtime-core'
import { useStore } from 'vuex'

export default {
    setup() {
        const store = useStore()
        const totalCantidad = computed(() => store.getters.totalCantidad)
        const totalPrecio = computed(() => store.getters.totalPrecio)
        const vaciar = () => { store.commit('vaciarCarro') }

        return {
            totalCantidad,
            totalPrecio,
            vaciar
        }
    },
}
</script>