<template>
  <tr>
    <th scope="row">{{ item.id }}</th>
    <td>{{ item.title }}</td>
    <td><div class="text-center">{{ item.cantidad }}</div></td>
    <td>
      <div class="text-center">
        <button class="btn btn-success btn-sm" @click="aumentar(item.id)">+</button>
        <button class="btn btn-danger btn-sm" @click="disminuir(item.id)">-</button>
      </div>
    </td>
    <td>${{ (item.total * item.cantidad).toFixed(2) }}</td>
  </tr>
</template>

<script>
import { useStore } from 'vuex'

export default {
  props: ['item'],
  setup() {
    const store = useStore()
    const aumentar = (id) => { store.commit('aumentar', id) }
    const disminuir = (id) => { store.commit('disminuir', id) }

    return {
      aumentar,
      disminuir
    }
  }
}
</script>