.NewBlogCard {
  margin: 16px;
  padding: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px #ccc;
  background-color: lightblue;
  font-size: 20px;
}

.NewBlogCard > button {
  font-size: 20px;
  margin-left: 2px;
  margin-right: 2px;
}

.LikeCount {
  font-weight: 600;
  font-size: 24px;
}

@media (min-width: 992px) {
  .NewBlogCard {
    width: 40%;
    display: inline-block;
  }
}