<template>
  <header class="top-bar spread">
    <nav class="top-bar-nav">
      <router-link to="/" class="top-bar-link">
        <i class="icofont-spoon-and-fork"></i>
        <span>Home</span>
      </router-link>
      <router-link to="/products" class="top-bar-link">
        <span>Products</span>
      </router-link>
      <router-link to="past-orders" class="top-bar-link">
        <span>Past Orders</span>
      </router-link>
    </nav>
    <div class="top-bar-cart">
      <span>Currency: </span>
      <select v-model="currency" @change="changeCurrency()">
        <option v-for="curr in currencies" :key="curr.name" v-bind:value="curr.symbol">
          {{ curr.name }} ({{ curr.symbol }})
        </option>
      </select>
    </div>
    <div @click="toggleSidebar" class="top-bar-cart-link pointer">
      <i class="icofont-cart-alt icofont-1x"></i>
      <span>Cart ({{ totalQuantity }})</span>
    </div>
  </header>
  <router-view
    :recommended="recommended"
    :inventory="inventory"
    :orders="orders"
  />

  <Sidebar
    v-if="showSidebar"
    :toggle="toggleSidebar"
  />
</template>

<script>
import { useStore } from 'vuex'
import { computed, ref } from '@vue/runtime-core'
import { onMounted } from 'vue'
import Sidebar from './components/Sidebar.vue'

export default {
  components: {
    Sidebar
  },
  setup () {
    const store = useStore()
    const currency = ref('')
    const showSidebar = computed(() => store.state.showSidebar)
    const totalQuantity = computed(() => store.getters.totalQuantity)
    const recommended = computed(() => store.state.recommended)
    const inventory = computed(() => store.state.inventory)
    const orders = computed(() => store.state.orders)
    const currencies = computed(() => store.state.currencies)

    onMounted(() => {
      if (store.state.currency === '') {
        currency.value = process.env.VUE_APP_DEFAULT_CURRENCY
        store.dispatch('changeCurrency', currency.value)
      }

      store.dispatch('getAllCurrencies')
      store.dispatch('getRecommendedProducts')
      store.dispatch('getAllProducts')
      store.dispatch('getAllOrders')
    })

    const changeCurrency = () => {
      store.dispatch('changeCurrency', currency.value)
    }

    return {
      showSidebar,
      totalQuantity,
      recommended,
      inventory,
      orders,
      currencies,
      currency,
      changeCurrency
    }
  },
  methods: {
    toggleSidebar () {
      this.$store.dispatch('toggleSidebar')
    }
  }
}
</script>
