<div class="trash">
  <div class="trash__sidebar">
    <app-finder-sidebar></app-finder-sidebar>
  </div>
  <div class="trash__content">
    <app-folders [isFinderOpened]="true" [folders]="(folders$ | async) || []"></app-folders>
  </div>
</div>