body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}
:root {
    --charcoal: #264653;
    --pgreen: #2A9D8F;
    --yellow: #E9C46A;
    --orange: #F4A261;
    --sienna: #E76F51;
    --white: #FFFFFF;
}
a {
    text-decoration: none;
    color: var(--white);
}
.container {
    min-height: 300px;
    width: 430px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h1, h3 {
    font-family: 'Righteous', cursive;
    color: var(--charcoal);
    text-decoration: underline;
    text-decoration-color:var(--sienna);
    font-size: 50px;
    text-align: center;
}
.btn {
    background:var(--charcoal);
    color: var(--white);
    width: 100%;
    margin-top: 10px;
}
.btn:hover {
    color: var(--white);
    background: var(--orange);
}
.viewer {
    font-size: 20px;
    font-weight: 100;
}
.error {
    color: var(--sienna);
    font-weight: 800;
    margin-top: 20px;
}