<footer id="pie-pagina" class="bg-info text-white mt-5 p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">Copyright &copy; Manuel Ortega - 2022</p>
            </div>
        </div>
    </div>
</footer>