<div class="flex align-items-center justify-content-center">
  <img src="assets/images/bluetooth.png" alt="bluetooth" class="mr-2" width="22">
  <div>
    <div class="text-sm">Bluetooth</div>
    <span class="text-xs">On</span>
  </div>
</div>