<template>
  <div class="main">
    <div class="logo">
      <router-link to="/index">
        <img src="./assets/logo.png" />
      </router-link>
    </div>
    <filter-by-status></filter-by-status>
    <filter-by-name></filter-by-name>
    <pagination></pagination>
    <list-characters></list-characters>
    <pagination></pagination>
    <vue-progress-bar></vue-progress-bar>
  </div>
</template>

<script>
import FilterByStatus from '@/components/FilterByStatus';
import FilterByName from '@/components/FilterByName';
import ListCharacters from '@/components/ListCharacters';
import Pagination from '@/components/Pagination';

export default {
  name: 'App',
  components: {
    FilterByStatus,
    FilterByName,
    ListCharacters,
    Pagination
  }
}
</script>

<style lang="scss">
:root {
  --background-body: #24282F;
  --background-card: #3C3E44;
  --background-orange: #FF9800;
  --background-red: #BD0000;
  --text-white: #FFFFFF;
  --text-gray: #C0C0C0;
  --text-orange: #FF9800;
  --text-dark-gray: #3C3E44;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-body);
  color: var(--text-white);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}
h1 {
  margin-bottom: 3rem;
  text-align: center;
}
.main {
  padding-bottom: 15px;
}
.container {
  width: 980px;
  max-width: 90%;
  margin: 5rem auto;
}
img {
  width: 100%;
}
.logo {
  width: 30%;
  margin: 0 auto 1rem auto;
}
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
</style>
