<div class="boot-screen">
  <img src="assets/images/apple-logo.png" alt="apple-logo" class="boot-screen__logo">

  <div class="boot-screen__progress-bar">
    <p-progressBar [value]="progressBarValue" [showValue]="false" [style]="{ 'height': '6px', 'width': '150px' }"></p-progressBar>
  </div>
</div>