<h3>Upload files</h3>
<p-fileUpload name="files[]" [url]="apiURL" (onUpload)="onUpload($event)" (onError)="onError($event)" [multiple]="true" accept="image/*" [maxFileSize]="1000000">
  <ng-template pTemplate="content">
    <ul *ngIf="uploadedFiles.length">
      <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
    </ul>
  </ng-template>
</p-fileUpload>
<p-messages></p-messages>