<template>
  <div class="home">
    <div class="splash-container">
      <div class="splash">
        <h1>Splendid Food</h1>
      </div>
    </div>
    <main class="wrapper">
      <h2>Recommended</h2>
      <div class="recommended">
        <ProductCard
          v-for="product in recommended"
          :key="product._id"
          :product="product"
          class="card"
        />
      </div>
    </main>
  </div>
</template>

<script>
import ProductCard from '@/components/ProductCard.vue'

export default {
  components: {
    ProductCard
  },
  props: ['recommended']
}
</script>
