<template>
  <main class="wrapper">
    <h1>Past Orders</h1>
    <div v-for="order in orders" :key="order.id" class="container-product-table">
      <table class="product-table">
        <thead>
          <tr>
            <th width="10%"><span class="sr-only">Product Image</span></th>
            <th width="30%">Product</th>
            <th width="10%">Quantity</th>
            <th width="20%">Price</th>
            <th width="25%">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="product in order.products" :key="product._id">
            <td align="center"><i class="icofont-2x" :class="['icofont-' + getAttribute(product._id, 'icon') ]"></i></td>
            <td>{{ getAttribute(product._id, "name") }}</td>
            <td align="center">{{ product.quantity }}</td>
            <td align="right">{{ getPrice(order, product) }}</td>
            <td align="right">{{ getSubtotal(order, product) }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Date:</th>
            <td>{{ order.date }}</td>
            <th colspan="2" align="right">Total:</th>
            <th align="right">{{ getTotal(order) }}</th>
          </tr>
        </tfoot>
      </table>
      <hr />
    </div>
  </main>
</template>

<script>
import { useStore } from 'vuex'
import { computed } from '@vue/runtime-core'

export default {
  props: ['orders'],
  setup () {
    const store = useStore()
    const getAttribute = computed((id, attr) => store.getters.getAttribute)

    return {
      getAttribute
    }
  },
  methods: {
    getPrice (order, product) {
      return this.$store.getters.getCurrency(order.currency) + ' ' + product.price.toFixed(2)
    },
    getSubtotal (order, product) {
      return this.$store.getters.getCurrency(order.currency) + ' ' + (product.price * product.quantity).toFixed(2)
    },
    getTotal (order) {
      return this.$store.getters.getCurrency(order.currency) + ' ' + order.total.toFixed(2)
    }
  }
}
</script>

<style>
</style>
