<template>
  <main class="wrapper">
    <h1>Products</h1>
    <div class="card-container">
      <ProductCard
          v-for="product in inventory"
          :key="product._id"
          :product="product"
          class="card"
        />
    </div>
  </main>
</template>

<script>
import ProductCard from '@/components/ProductCard.vue'

export default {
  components: {
    ProductCard
  },
  props: ['inventory']
}
</script>

<style>
</style>
