<div class="box">
    <form class="item" #f="ngForm" (ngSubmit)="f.form.valid && login(f)">
        <input type="email" name="email" id="email" placeholder="Email" size="30" ngModel required />
        <input type="password" name="password" id="password" placeholder="Password" size="30" ngModel required />
        <button type="submit">+</button>
    </form>
</div>
