<template>
  <div class="container">
    <h1>Carro de Compras - VueJS 3</h1>
    <hr />
    <Carro />
    <div class="row">
      <Card
        v-for="producto of productos" :key="producto.id"
        :producto="producto"
      />
    </div>
  </div>
</template>

<script>
import { useStore } from 'vuex'
import { computed, onMounted } from '@vue/runtime-core';
import Card from './components/Card.vue'
import Carro from './components/Carro.vue'

export default {
  name: 'App',
  components: {
    Card,
    Carro
  },
  setup() {
    const store = useStore()
    const productos = computed(() => {
      return store.state.productos
    })
    
    onMounted(() => {
      store.dispatch('fetchData')
    })
    
    return {
      productos
    }
  }
}
</script>

<style>
/*@import './assets/base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  .logo {
    margin: 0 2rem 0 0;
  }
}*/
</style>
