<script setup lang="ts">
import { nanoid } from 'nanoid';
import type { Task } from '~/types';

const emit = defineEmits<{
    (e: 'add', payload: Task): void;
}>();

const focused = ref(false);
const title = ref('');

function createTask(e: Event) {
    if (title.value.trim()) {
        e.preventDefault();
        emit('add', 
        {
            id: nanoid(),
            title: title.value.trim(),
            createdAt: new Date(),
        } as Task);
    }

    title.value = '';
}
</script>

<template>
    <div>
        <textarea
            v-model="title"
            @keydown.tab="createTask"
            @keyup.enter="createTask"
            class="focus:bg-white focus:shadow resize-none rounded w-full border-none"
            :class="{
                'h-7 p-2 bg-transparent font-semibold cursor-pointer': !focused,
                'h-20 p-1': focused,
            }"
            style="outline: none !important;"
            @focus="focused = true"
            @blur="focused = false"
            :placeholder="!focused ? '+ Add a Card' : 'Enter a title for this card'"
        >
        </textarea>
    </div>
</template>