body {
  font-family: 'Source Sans Pro', sans-serif;
}

.mainContainer {
  padding: 4% 12%;
  position: fixed;
  top: 32px;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
}