<template>
  <div class="container">
    <transition name="fade" appear mode="out-in">
      <component
        :is="screens[position]"
        @goto="handleGoTo"
        @showResult="showResult"
        @handleToast="handleToast"
        :question="question"
        :result="result"
      />
    </transition>
  </div>
</template>

<script>
  import appInitial from './components/initial.vue'
  import appConfirm from './components/confirm.vue'
  import appResults from './components/results.vue'

  export default {
    components: {
      appInitial,
      appConfirm,
      appResults
    },
    data() {
      return {
        list: ['Yes', 'No', 'Maybe', 'Not sure... try again', 'Ask a friend', 'Call the police', 'All in!', 'Definitively no', 'Hell no!', 'Of course, mate!'],
        screens: ['appInitial', 'appConfirm', 'appResults'],
        position: 0,
        question: '',
        result: ''
      }
    },
    methods: {
      handleToast(values) {
        this.$toast.show(values.message, {
          type: values.type,
          position: "top",
          maxToasts: 2
        });
      },
      handleGoTo(pos, que) {
        this.position = pos;
        this.question = que;
      },
      getRandomValue() {
        return Math.floor(Math.random() * this.list.length);
      },
      generateResult() {
        let rand = this.getRandomValue();

        if(this.result !== ''){
          while(rand === this.result){
            rand = this.getRandomValue();
          }
        }

        return this.list[rand];
      },
      showResult() {
        this.result = this.generateResult();
      }
    }
  }
</script>

<style>
  @import './assets/style.css';

  .fade-enter-from {
    opacity: 0;
  }
  .fade-enter-active {
    transition: 0.5s;
  }
  .fade-enter-to {
    opacity: 1;
  }
  .fade-leave-from {
    opacity: 1;
  }
  .fade-leave-active {
    transition: 0.5s;
  }
  .fade-leave-to {
    opacity: 0;
  }
</style>
