<script setup lang="ts">
definePageMeta({
  middleware: ['auth'],
});
</script>
<template>
  <h1>Update Link</h1>
  <GoBack>or go back to links</GoBack>

  <FormKit type="form" submit-label="Update Link">
    <FormKit label="Short Link" name="short_link" type="url" />
    <FormKit label="Full Link" name="full_link" type="url" />
  </FormKit>

</template>
