<form (ngSubmit)="f.form.valid && agregarRegistro()" #f="ngForm">
    <div class="agregar">
        <div class="agregar_contenedor">
            <select (change)="tipoOperacion($event)" class="agregar_tipo" [ngClass]="{redfocus: tipo === 'egresoOperacion'}">
                <option value="ingresoOperacion" selected>+</option>
                <option value="egresoOperacion">-</option>
            </select>
            <input type="text" class="agregar_descripcion" placeholder="Agregar Descripción" name="descripcionInput" [(ngModel)]="descripcionInput" [ngClass]="{redfocus: tipo === 'egresoOperacion'}" required />
            <input type="number" class="agregar_valor" placeholder="Valor" name="valorInput" [(ngModel)]="valorInput" [ngClass]="{redfocus: tipo === 'egresoOperacion'}" required />
            <button type="submit" class="agregar_btn" [ngClass]="{red: tipo === 'egresoOperacion'}"><i class="ion-ios-checkmark-outline"></i></button>
        </div>
        <div class="agregar_contenedor red" *ngIf="mostrarError">{{ mensajeError }}</div>
    </div>
</form>
