.productData {
  width: 50%;
}

.productTitle {
  font-size: 48px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
}

.productDescription {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0;
  margin-bottom: 16px;
}

.sectionHeading {
  font-size: 28px;
  margin-bottom: 8px;
}

.productImage {
  width: 100%;
  max-width: 80px;
  border: 2px solid transparent;
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
}

.productImageSelected {
  border: 2px solid teal;
}

.featureItem {
  min-width: 80px;
  background-color: gainsboro;
  border-radius: 8px;
  border: 2px solid white;
  padding: 12px 24px;
  margin-right: 12px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  box-sizing: border-box;
}

.featureItemSelected {
  border: 2px solid teal;
}

.primaryButton {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: teal;
  font-size: 20px;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  margin-top: 42px;
}