<template>
  <div class="home">
    <div class="header">
      <h2 class="title">Hi <b>Manuel!</b></h2>
      <div class="input">
        <input type="text" placeholder="Find what you want..." name="" id="">
        <div class="icon-input">
          <i class='bx bx-search bx-sm'></i>
        </div>
      </div>
      <div class="combo-header">
        <div class="text">
          <h2>Free combo</h2>
          <p>Burger + Coca-Cola for new users</p>
        </div>
        <div class="img">
          <img src="https://images.unsplash.com/photo-1568901346375-23c9450c58cd" alt="Burger + Coca-Cola" />
        </div>
      </div>
    </div>
    <div class="scroll-menu">
      <div class="scroll-content">
        <div class="avatar" v-for="(item, index) in categories" :key="index">
          <i class='bx bx-lg' :class="[item.icon]"></i>
          <p>{{ item.name }}</p>
        </div>
      </div>
    </div>
    <h2>Top Products</h2>
    <div class="scroll-top-products">
      <div class="top-products" v-for="(item, index) in topProducts" :key="index">
        <div class="top-products-img">
          <img :src="[item.image]" :alt="[item.name]" />
        </div>
        <div class="card-footer">
          <div class="top-products-text">
            <div class="top-products-title">
              {{ item.name }}
            </div>
            <div class="top-products-price">
              ${{ item.price }}
            </div>
          </div>
          <div class="top-products-action">
            <i class='bx bxs-plus-circle bx-lg'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  setup() {
    const categories = [
      { name: 'Pizza', icon: 'bxs-pizza' },
      { name: 'Rice', icon: 'bx-bowl-rice' },
      { name: 'Drinks', icon: 'bx-drink' },
      { name: 'Bread', icon: 'bx-baguette' }
    ]
    const topProducts = [
      { name: 'Berry Juice', price: 7.5, image: 'https://images.unsplash.com/photo-1543264228-460e284028a7'},
      { name: 'Orange Juice', price: 5.9, image: 'https://images.unsplash.com/photo-1577680716097-9a565ddc2007'}
    ]

    return {
      categories,
      topProducts
    }
  },
}
</script>

<style lang="less">
.home {
  margin: 20px;
  .scroll-top-products {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    .top-products {
      position: relative;
      background-color: rgba(232, 230, 230);
      border-radius: 10px;
      width: 45%;
      padding: 10px;
      .top-products-img {
        text-align: center;
        img {
          width: auto;
          max-height: 250px;
        }
      }
      .card-footer {
        display: flex;
      }
      .top-products-text {
        margin-top: 10px;
        .top-products-title {
          color: rgba(47, 47, 47);
          font-size: 20px;
        }
        .top-products-price {
          color: rgba(255, 131, 32);
          font-weight: bold;
          font-size: 20px;
        }
      }
      .top-products-action {
        i {
          position: absolute;
          right: 0;
          bottom: 0;
          color: rgba(74, 174, 84);
          margin: 5px;
        }
      }
    }
  }
  .scroll-menu {
    .scroll-content {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      /* overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      } */
      .avatar {
        background-color: rgba(250, 248, 248);
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        i {
          color: rgba(255, 131, 62)
        }
      }
    }
  }
  .header {
    .combo-header {
      background-color: rgba(74, 174, 84);
      color: white;
      padding: 20px;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      .text {
        width: 50%;
        h2 {
          font-weight: 800;
        }
        p {
          font-weight: 300;
        }
      }
      .img {
        width: 50%;
        text-align: right;
        img {
          width: auto;
          max-height: 100px;
          object-fit: cover;
          border-radius: 10px;
        }
      }
    }
    .input {
      display: flex;
      position: relative;
      align-items: center;
      margin-top: 15px;
      input {
        width: 100%;
        background-color: rgba(250, 248, 248);
        border: 0px;
        outline: none;
        padding: 10px;
        padding-left: 45px;
        border-radius: 10px;
        height: 30px;
        font-size: 18px;
      }
      .icon-input {
        position: absolute;
        margin-left: 10px;
        padding-top: 5px;
      }
    }
    .title {
      margin-top: 50px;
      font-weight: 350;
    }
  }
}
</style>
