<hr />
<button (click)="addYear()" class="btn btn-success me-2">Add 1 Year</button>
<button (click)="decYear()" class="btn btn-danger">Remove 1 Year</button>
<br /><br />
<p>Your age is: <b>{{ age }}</b></p>
<p *ngIf="age >= 18" style="color: blue;">You're old!</p>
<p *ngIf="age < 18" style="color: red;">You're young!</p>
<hr />
<h3>List of names:</h3>
<ul>
    <li *ngFor="let name of names; let i = index">
        {{ i + 1 }} - {{ name }}
    </li>
</ul>