.wrapper
    width: 100%
    max-width: 960px
    margin: 0px auto
    padding-top: 35px

.product-table
    width: 100%

.quantity-input
    width: 100px

.container-product-table
    margin-bottom: 40px